/* game finder now has its own google font */
#title {
  font-family: 'Young Serif', serif;
  color: #cad593;

}
.navbar-brand {
  color: #cad593;
}
/* creates a horizontal line to separate the top from the center of the screen, with some characteristics of its own */
#line {
  height:7px;
  border-radius: 30px;
  color: #00664d;
}
/* gaming recommendations now has its own google font */
#us {
  font-family: 'Young Serif', serif;
  font-size: 32px;
  color: #cad593;

}
/* gives our names and descriptions that pleasant Katygreen color in addition to a gradient background flowing from dark blue to light blue */
.fiveGuys {
  background: rgb(133,141,200);
  background: linear-gradient(180deg, rgba(133,141,200,1) 0%, rgba(59,66,140,1) 47%, rgba(10,9,52,1) 100%);
  color: #cad593;
}
/* any game names have their own font pool/size */
.gamename {
  text-align: center;
  width: 100%;
  color: #cad593;
  font-weight: bold;
  padding-left: 0;
}
/* aligns images with the text within the 5 columns so that the images do not make the text display out of order */
.img-with-text {
  text-align: center;
  width: [width of img];
}
/* secondary confirmation to make sure text aligns with image, making sure nothing flies all over the screen */
.img-with-text img {
  display: block;
  margin: 0 auto;
}
img {
  display: flex;
  width: 100%;
}
/* aligns footer to bottom center */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 2rem;
}
/* footer words now have their own google font */
.low {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #cad593;
}